<fieldset class="calculator-roi-form-page-02">

    <h4 style="margin: 15px 0 10px;">Effects on Availability and Performance Measurements</h4>

    <div class="results">
        <span style="display: block; margin-bottom: 10px;" ng-repeat="result in calculator.calculations.firstStep.display">
            <em style="display: inline-block; width: 300px; vertical-align: top;">{{result.label}}</em>
            <em style="display: inline-block; vertical-align: top;">{{result.value}}</em>
        </span>
    </div>

    <div class="form-field" validate-field>
        <label for="c31">Target # of downtime minutes for a machine / shift</label>
        <input type="number" name="c31" id="c31" class="" max="{{calculator.calculations.firstStep.M62.value - 1}}" ng-model="calculator.userValues.C31.value" required uib-tooltip="Insert # of downtime minutes after improvement">

        <div ng-messages="calculatorRoiForm.c31.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="max">Improved value must be higher than present values.</p>
        </div>
    </div>

    <h4 style="margin: 15px 0 10px;">Effect on Quality Measurement</h4>

    <div class="form-field" validate-field>
        <label for="c35">Current # of rejected or scraped pieces at machine / shift</label>
        <input type="number" name="c35" id="c35" class="" ng-model="calculator.userValues.C35.value" max="{{calculator.userValues.C26.value - 1}}" required>

        <div ng-messages="calculatorRoiForm.c35.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="max">Scraped quantity has to be less than total produced amount. You cannot scrap more than machine produce.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c37">Insert # of rejsected/scraped pieces after improvement</label>
        <input type="number" name="c37" id="c37" class="" max="{{calculator.userValues.C35.value - 1}}" ng-model="calculator.userValues.C37.value" required>

        <div ng-messages="calculatorRoiForm.c37.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="max">Improved value must be higher than present values.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c40"># of months required to payback the investment in OEE tracking</label>
        <input type="number" name="c40" id="c40" class="" ng-model="calculator.userValues.C40.value" required uib-tooltip="Should be greater than expected # of months to meet the target improvements
">

        <div ng-messages="calculatorRoiForm.c40.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c42">Expected # of months to meet the target improvements</label>
        <input type="number" name="c42" id="c42" class="" max="{{calculator.userValues.C40.value - 1}}" ng-model="calculator.userValues.C42.value" required uib-tooltip="Insert number of months required to meet the target improvements (i.e. when you expect to implement all the improvements - decrease in rejected or scraped pieces and downtime)">

        <div ng-messages="calculatorRoiForm.c42.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="max">First we need to get improvement. Then it is possible to start saving.</p>
        </div>
    </div>
</fieldset>