<fieldset class="calculator-roi-form-page-03">
    <div class="results">
        <h5>Potential savings</h5>
        <div class="results-row" ng-repeat="result in calculator.calculations.secondStep.display.potentialSavings">
            <em>{{result.label}}</em>
            <em ng-if="result.unit === '€'">{{result.value | currency : '€' : 0}}</em>
            <em ng-if="result.unit !== '€'">{{result.value}} {{result.unit}}</em>
        </div>
    </div>
</fieldset>