<div class="results">
    <span style="display: block; margin-bottom: 20px;" ng-repeat="result in calculator.calculations.display.firstStep">
        <em style="display: inline-block; width: 300px; vertical-align: top;">{{result.label}}</em>
        <em style="display: inline-block; vertical-align: top;">{{result.value}}</em>
    </span>
</div>