<fieldset class="calculator-roi-form-page-03">

    <h4 style="margin: 15px 0 10px;">Business Case Report</h4>

    <div class="results">
        <h5>Before improvements</h5>
        <div class="results-row" ng-repeat="result in calculator.calculations.secondStep.display.beforeImprovements">
            <em>{{result.label}}</em>
            <em ng-if="result.unit === '€'">{{result.value | currency : '€'}}</em>
            <em ng-if="result.unit !== '€'">{{result.value}}{{result.unit}}</em>
        </div>
    </div>

    <div class="results">
        <h5>After improvements</h5>
        <div class="results-row" ng-repeat="result in calculator.calculations.secondStep.display.afterImprovements">
            <em>{{result.label}}</em>
            <em ng-if="result.unit === '€'">{{result.value | currency : '€'}}</em>
            <em ng-if="result.unit !== '€'">{{result.value}}{{result.unit}}</em>
        </div>
    </div>
</fieldset>