<fieldset class="calculator-roi-form-page-01">
    <div class="form-field" validate-field>
        <label for="c10"># of identical machines</label>
        <input type="number" name="c10" id="c10" class="" ng-model="calculator.userValues.C10.value" required uib-tooltip="Insert the number of machines that requires OEE measurements">

        <div ng-messages="calculatorRoiForm.c10.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c12">Direct machine costs / hour (in avg.)</label>
        <div class="input-with-unit">
            <input type="number" name="c12" id="c12" class="" ng-model="calculator.userValues.C12.value" required uib-tooltip="Insert the average hourly direct costs for a machine in Euros, i.e. labour costs, depreciations, average maintenance, etc. (and not material costs)">
            <span class="unit">€</span>
        </div>

        <div ng-messages="calculatorRoiForm.c12.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c14">Indirect machine costs - i.e. overhead such as power, etc. (in %)</label>
        <div class="input-with-unit">
            <input type="number" name="c14" id="c14" class="" ng-model="calculator.userValues.C14.value" min="0" max="100" required uib-tooltip="Insert the average hourly indirect costs for a machine in %">
            <span class="unit">%</span>
        </div>

        <div ng-messages="calculatorRoiForm.c14.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="min">Value cannot be lower than 0%.</p>
            <p class="help-block error-text" ng-message="max">Value cannot be greater than 100%.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c24">Installed capacity for a machine / shift</label>
        <input type="number" name="c24" id="c24" class="" min="{{calculator.userValues.C26.value + 1}}" ng-model="calculator.userValues.C24.value" required uib-tooltip="Insert the maximum number of pieces which theoretically can be produced at a full-load capacity (i.e. namedplat capacity)">

        <div ng-messages="calculatorRoiForm.c24.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="min">This field has to be higher than 'Current # of pieces produced by a machine / shift'.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="c26">Current # of pieces produced by a machine / shift</label>
        <input type="number" name="c26" id="c26" class="" max="{{calculator.userValues.C24.value - 1}}" ng-model="calculator.userValues.C26.value" required uib-tooltip="Insert total number of pieces produced (both good and rejected/scraped)">

        <div ng-messages="calculatorRoiForm.c26.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="number">This field has to be a number.</p>
            <p class="help-block error-text" ng-message="max">Installed capacity is a maximum capacity. It is not possible to produce more than that quantity</p>
        </div>
    </div>

</fieldset>