<fieldset class="calculator-roi-form-page-04 signin-form">
    <h4>The results of the analysis</h4>
    <p style="margin-bottom: 20px;">Please leave your e-mail in order to receive the ROI analysis</p>

    <div class="form-field" validate-field>
        <label for="name">Full name</label>
        <input type="text" name="name" id="name" class="" ng-model="userData.name" required>

        <div ng-messages="calculatorRoiForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="company">Company</label>
        <input type="text" name="company" id="company" class="" ng-model="userData.company" required>

        <div ng-messages="calculatorRoiForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
        </div>
    </div>

    <div class="form-field" validate-field>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="" ng-model="userData.email" required>

        <div ng-messages="calculatorRoiForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required.</p>
            <p class="help-block error-text" ng-message="email">This is not valid email address.</p>
        </div>
    </div>

    <div class="form-errors" ng-if="singinFormError">
        <p>{{singinFormError}}</p>
    </div>
</fieldset>