<div class="results">
    <canvas id="savings-chart" width="360" height="300"></canvas>

    <div class="results">
        <div class="results-row">
            <em>{{calculator.calculations.secondStep.display.F23.label}}</em>
            <em ng-if="calculator.calculations.secondStep.display.F23.unit === '€'">{{calculator.calculations.secondStep.display.F23.value | currency : '€' : 0}}</em>
            <em ng-if="calculator.calculations.secondStep.display.F23.unit !== '€'">{{calculator.calculations.secondStep.display.F23.value}}{{calculator.calculations.secondStep.display.F23.unit}}</em>
        </div>
    </div>
</div>