.flat-butt {
  display: inline-block;
  margin: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 6px 25px;
  border: none;
  background: #0b2357;
  color: #fff;
  cursor: pointer;
}
.flat-butt:hover {
  background: #0e2c6e;
  text-decoration: none;
  color: #fff;
}
.flat-primary-butt {
  background: #4AA24A;
}
.flat-primary-butt:hover {
  background: #54b154;
}
.flat-info-butt {
  background: #0b2357;
}
.flat-info-butt:hover {
  background: #0e2c6e;
}
.flat-danger-butt {
  background: #bf3b2f;
}
.flat-danger-butt:hover {
  background: #ce4639;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.calculator-loader {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 100;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
}
.calculator-loader img {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  -webkit-animation: spin 1s infinite linear;
  /* Safari 4+ */
  -moz-animation: spin 1s infinite linear;
  /* Fx 5+ */
  -o-animation: spin 1s infinite linear;
  /* Opera 12+ */
  animation: spin 1s infinite linear;
  /* IE 10+, Fx 29+ */
}
.calculator-loader.ng-enter {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
.calculator-loader.ng-enter-active {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.calculator-loader.ng-leave {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
.calculator-loader.ng-leave-active {
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
#calculator-roi {
  position: fixed;
  right: 0;
  top: 60px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  -o-transition: -o-transform 500ms;
  z-index: 2000;
  width: 420px;
  max-width: 100%;
}
#calculator-roi .calculator-roi-handle {
  left: -55px;
  width: 55px;
  padding: 10px;
  position: absolute;
  background-color: #0B2357;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
}
#calculator-roi .calculator-roi-handle i {
  color: #fff;
  font-size: 36px;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
#calculator-roi .calculator-roi-handle:hover {
  background-color: #b6b6b6;
}
#calculator-roi .calculator-roi-handle:hover i {
  color: #0B2357;
}
#calculator-roi .calculator-roi-content {
  position: relative;
  padding: 10px 20px 20px;
  background-color: #fff;
  border: 2px solid #0B2357;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form h3 {
  font-size: 20px;
  color: #0B2357;
  margin: 10px 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form h4 {
  font-size: 15px;
  font-weight: 600;
  color: #0B2357;
  margin: 15px 0 10px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form {
  margin: 0 0 10px 0;
  position: relative;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content {
  position: relative;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content.ng-enter {
  z-index: 2;
  -webkit-transition: all 500ms 300ms;
  -moz-transition: all 500ms 300ms;
  -o-transition: all 500ms 300ms;
  transition: all 500ms 300ms;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content.ng-enter-active {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content.ng-leave {
  position: absolute;
  z-index: 0;
  top: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content.ng-leave-active {
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content .results {
  max-width: 100%;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form .calculator-roi-form-content .results canvas {
  max-width: 100%;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field {
  margin-bottom: 5px;
  position: relative;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field input[type="text"],
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field input[type="email"],
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field input[type="number"] {
  display: block;
  width: 100%;
  padding: 3px 5px;
  font-size: 12px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field .input-with-unit {
  position: relative;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field .input-with-unit input[type="text"],
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field .input-with-unit input[type="email"],
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field .input-with-unit input[type="number"] {
  padding-right: 25px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field .input-with-unit .unit {
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 16px;
  font-weight: 600;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field [ng-messages] {
  display: none;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field [ng-messages] .error-text {
  color: red;
  display: block;
  margin: 3px 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form #calculator-roi-form fieldset .form-field.show-errors [ng-messages] {
  display: block;
  font-size: 12px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .results {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .results .results-row {
  display: table-row;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .results .results-row em {
  display: table-cell;
  vertical-align: top;
  font-size: 12px;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .results .results-row em:first-of-type {
  padding: 0 10px 5px 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .results .results-row em:last-of-type {
  text-align: right;
  padding: 0 0 5px 10px;
  white-space: nowrap;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .roi-savings-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .roi-savings-table thead tr th {
  font-weight: 600;
  border: 1px solid #000;
  padding: 4px 8px;
  text-align: center;
}
#calculator-roi .calculator-roi-content .calculator-roi-form .roi-savings-table tbody tr td {
  border: 1px solid #000;
  padding: 4px 8px;
  text-align: center;
  font-size: 12px;
}
#calculator-roi .calculator-roi-content .form-errors {
  display: block;
  border: 1px solid red;
  padding: 10px;
  color: red;
  text-align: center;
  margin: 20px 0 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
#calculator-roi .calculator-roi-content .finish-page p {
  font-size: 16px;
  color: green;
}
#calculator-roi .calculator-roi-content .calculator-roi-footer {
  margin-top: 10px;
  text-align: center;
}
#calculator-roi .calculator-roi-content .calculator-roi-footer .next {
  cursor: pointer;
}
#calculator-roi .calculator-roi-content .calculator-roi-footer .button {
  cursor: pointer;
}
#calculator-roi.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}
.calculator-roi-admin .calculator-loader {
  left: -10px;
}
.calculator-roi-admin #calculator-roi-options-form {
  margin: 0 0 10px 0;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field {
  margin-bottom: 10px;
  position: relative;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field label {
  display: block;
  margin: 0 0 5px 0;
  font-size: 13px;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field input[type="text"],
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field input[type="email"],
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field input[type="number"] {
  display: block;
  width: 100%;
  padding: 3px 8px;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field .input-with-unit {
  position: relative;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field .input-with-unit input[type="text"],
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field .input-with-unit input[type="email"],
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field .input-with-unit input[type="number"] {
  padding-right: 25px;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field .input-with-unit .unit {
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 16px;
  font-weight: 600;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field [ng-messages] {
  display: none;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field [ng-messages] .error-text {
  color: red;
  display: block;
  margin: 3px 0;
}
.calculator-roi-admin #calculator-roi-options-form fieldset .form-field.show-errors [ng-messages] {
  display: block;
  font-size: 12px;
}
.calculator-roi-admin .form-errors {
  display: block;
  border: 1px solid red;
  padding: 10px;
  color: red;
  text-align: center;
  margin: 20px 0 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.wp-modal-popup {
  margin-top: 20px;
}
.wp-modal-popup .modal-calculations h3 {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: bolder;
}
.wp-modal-popup .modal-calculations table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
}
.wp-modal-popup .modal-calculations table tr td {
  font-size: 14px;
  vertical-align: top;
  border: 1px solid #000;
  padding: 4px 8px;
}
