@import 'flat-buttons';
@import 'animation';

.calculator-loader {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 100;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  img {
    position: absolute;
    top: calc(~'50% - 32px');
    left: calc(~'50% - 32px');
    -webkit-animation: spin 1s infinite linear; /* Safari 4+ */
    -moz-animation:    spin 1s infinite linear; /* Fx 5+ */
    -o-animation:      spin 1s infinite linear; /* Opera 12+ */
    animation:         spin 1s infinite linear; /* IE 10+, Fx 29+ */
  }
  &.ng-enter {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
  &.ng-leave {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
}

#calculator-roi {
  position: fixed;
  right: 0;
  top: 60px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  -o-transition: -o-transform 500ms;
  z-index: 2000;
  width: 420px;
  max-width: 100%;
  .calculator-roi-handle {
    left: -55px;
    width: 55px;
    padding: 10px;
    position: absolute;
    background-color: #0B2357;
    cursor: pointer;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    i {
      color: #fff;
      font-size: 36px;
      transition: all 300ms;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
    }
    &:hover {
      background-color: #b6b6b6;
      i {
        color: #0B2357;
      }
    }
  }
  .calculator-roi-content {
    position: relative;
    padding: 10px 20px 20px;
    background-color: #fff;
    border: 2px solid #0B2357;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    .calculator-roi-form {
      h3 {
        font-size: 20px;
        color: #0B2357;
        margin: 10px 0;
      }
      h4 {
        font-size: 15px;
        font-weight: 600;
        color: #0B2357;
        margin: 15px 0 10px;
      }
      h5 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      #calculator-roi-form {
        margin: 0 0 10px 0;
        position: relative;
        .calculator-roi-form-content {
          position: relative;
          &.ng-enter {
            z-index: 2;
            -webkit-transition: all 500ms 300ms;
            -moz-transition: all 500ms 300ms;
            -o-transition: all 500ms 300ms;
            transition: all 500ms 300ms;
            opacity: 0;
            -webkit-opacity: 0;
            -moz-opacity: 0;
          }
          &.ng-enter-active {
            opacity: 1;
            -webkit-opacity: 1;
            -moz-opacity: 1;
          }
          &.ng-leave {
            position: absolute;
            z-index: 0;
            top: 0;
            -webkit-transition: all 500ms;
            -moz-transition: all 500ms;
            -o-transition: all 500ms;
            transition: all 500ms;
            opacity: 1;
            -webkit-opacity: 1;
            -moz-opacity: 1;
          }
          &.ng-leave-active {
            opacity: 0;
            -webkit-opacity: 0;
            -moz-opacity: 0;
          }
          .results {
            max-width: 100%;
            canvas {
              max-width: 100%;
            }
          }
        }
        fieldset {
          .form-field {
            margin-bottom: 5px;
            position: relative;
            label {
              display: block;
              margin: 0 0 5px 0;
              font-size: 12px;
            }
            input[type="text"], input[type="email"], input[type="number"] {
              display: block;
              width: 100%;
              padding: 3px 5px;
              font-size: 12px;
            }
            select {

            }
            .input-with-unit {
              position: relative;
              input[type="text"], input[type="email"], input[type="number"] {
                padding-right: 25px;
              }
              .unit {
                position: absolute;
                top: 3px;
                right: 8px;
                font-size: 16px;
                font-weight: 600;
              }
            }
            [ng-messages] {
              display: none;
              .error-text {
                color: red;
                display: block;
                margin: 3px 0;
              }
            }
            &.show-errors {
              [ng-messages] {
                display: block;
                font-size: 12px;
              }
            }
          }
        }
      }
      .results {
        display: table;
        width: 100%;
        margin-bottom: 10px;
        .results-row {
          display: table-row;
          em {
            display: table-cell;
            vertical-align: top;
            font-size: 12px;
            &:first-of-type {
              padding: 0 10px 5px 0;
            }
            &:last-of-type {
              text-align: right;
              padding: 0 0 5px 10px;
              white-space: nowrap;
            }
          }
        }
      }
      .roi-savings-table {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0;
        thead {
          tr {
            th {
              font-weight: 600;
              border: 1px solid #000;
              padding: 4px 8px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            td {
              border: 1px solid #000;
              padding: 4px 8px;
              text-align: center;
              font-size: 12px;
            }
          }
        }
      }
    }
    .form-errors {
      display: block;
      border: 1px solid red;
      padding: 10px;
      color: red;
      text-align: center;
      margin: 20px 0 10px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
    }
    .finish-page {
      p {
        font-size: 16px;
        color: green;
      }
    }
    .calculator-roi-footer {
      margin-top: 10px;
      text-align: center;
      .next {
        cursor: pointer;
      }
      .button {
        cursor: pointer;
      }
    }
  }
  &.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

//admin page
.calculator-roi-admin {
  .calculator-loader {
    left: -10px;
  }
  #calculator-roi-options-form {
    margin: 0 0 10px 0;
    fieldset {
      .form-field {
        margin-bottom: 10px;
        position: relative;
        label {
          display: block;
          margin: 0 0 5px 0;
          font-size: 13px;
        }
        input[type="text"], input[type="email"], input[type="number"] {
          display: block;
          width: 100%;
          padding: 3px 8px;
        }
        select {

        }
        .input-with-unit {
          position: relative;
          input[type="text"], input[type="email"], input[type="number"] {
            padding-right: 25px;
          }
          .unit {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 16px;
            font-weight: 600;
          }
        }
        [ng-messages] {
          display: none;
          .error-text {
            color: red;
            display: block;
            margin: 3px 0;
          }
        }
        &.show-errors {
          [ng-messages] {
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
  .form-errors {
    display: block;
    border: 1px solid red;
    padding: 10px;
    color: red;
    text-align: center;
    margin: 20px 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  }
}


.wp-modal-popup {
  margin-top: 20px;
  .modal-calculations {
    h3 {
      margin: 20px 0 10px;
      font-size: 18px;
      font-weight: bolder;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 10px 0 20px;
      tr {
        td {
          font-size: 14px;
          vertical-align: top;
          border: 1px solid #000;
          padding: 4px 8px;
        }
      }
    }
  }
}