@color-default: #0b2357;
@color-primary: #4AA24A;
@color-danger: #bf3b2f;

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 6px 25px;
  border: none;
  background: @color-default;
  color: #fff;
  cursor: pointer;
}
.flat-butt:hover {
  background: lighten(@color-default, 5%);
  text-decoration: none;
  color: #fff;
}
.flat-primary-butt {
  background: @color-primary;
}
.flat-primary-butt:hover {
  background: lighten(@color-primary, 5%);
}
.flat-info-butt {
  background: @color-default;
}
.flat-info-butt:hover {
  background: lighten(@color-default, 5%);
}
.flat-danger-butt {
  background: @color-danger;
}
.flat-danger-butt:hover {
  background: lighten(@color-danger, 5%);
}